*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#recipes_container
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
   

}

#recipes_card
{
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 8px;
  position: relative;
}

img
{
  width: 250px;
  border-radius: 10px;
}


#recipes_title
{
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}